{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %} Voskanapat.info {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/fotorama.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.6&appId=171040006306876";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
			
		<header class="clearfix">	
			<div class="realHeader">
				<div class="headerTop clearfix">
					<div class="logo">
						<a href="/">
							<img src="{% static 'img/logo.png' %}">
						</a>
					</div>
					<div class="searchBox clearfix">
						<form action="/?l=am" method="get">
							<input type="search" class="search" placeholder="поиск" name="s" value="" />
							<input type="submit" value="" class="ssubmit" />
						</form>
					</div>
				</div>
				<nav class="menu">
					<a href="/category/4/">СТАТЬИ</a>
					<a href="/category/5/">АНАЛИТИКА</a>
					<a href="/category/6/">КОММЕНТАРИИ</a>
					<a href="/category/7/">ИНТЕРВЬЮ</a>
					<a href="/category/8/">ОБЗОР ПРЕССЫ</a>
					<a href="/category/9/">ВИДЕО</a>
				</nav>
				<div class="mobiMenu">
					<div class="mobiMenuBut"></div>
					<nav class="menuBox">
						<a href="#">Статьи</a>
						<a href="#">Аналитика</a>
						<a href="#">Комментарии</a>
						<a href="#">Интервью</a>
						<a href="#">Страница</a>
						<a href="#">Пандухта</a>
						<a href="#">Обзор прессы</a>
						<a href="#">Актуальное ретро</a>
						<a href="#">Трибуна Сагатела</a>
						<a href="#">Видео</a>
					</nav>
				</div>
			</div>
		</header>	
		<div class="main clearfix">
		{% block main_left %}
			<div class="mainLeft">
				<div class="mainNews">
					<div class="mainNewsUnit">
						<a href="#" class="mainNewsUnitLink">
							<b>Давид Ишханян. «Необходимо демонтировать Мадридские принципы»</b>
							<span>
								<img src="img/pics/1.jpg">
								Мадридские принципы не соответствуют нашим национальным и государственным интересам. Эти принципы необходимо демонтировать и разработать новые подходы. Апрельская война не только дает нам такую возможность, но и заставляет, диктует предпринять определенные шаги в этом направлении – говорит депутат НС НКР, руководитель фракции «Дашнакцутюн» Давид Ишханян. В результате четырехднев...
							</span>
						</a>
						<div class="mainNewsUnitFoot">
							<span>Категория: <a href="#">Интервью</a></span>
							<span>Дата: <a>12:00, 27.04.2016</a></span>
						</div>
					</div>
					<div class="mainNewsUnit">
						<a href="#" class="mainNewsUnitLink">
							<b>О целях и методах азербайджанской агрессии и дальнейших действиях армянских государств</b>
							<span>
								<img src="img/pics/2.jpg">
								Четырехдневная война между Азербайджаном и Республикой Арцах еще долго будет оставаться предметом исследований специалистов: политологов, конфликтологов, журналистов, военных аналитиков. После смены режима в Азербайджане, или же полного демонтажа этой фашистской политической конструкции, наверняка вскроется множество неизвестных пока 
							</span>
						</a>
						<div class="mainNewsUnitFoot">
							<span>Категория: <a href="#">Страница Пандухта</a></span>
							<span>Дата: <a>12:00, 27.04.2016</a></span>
						</div>
					</div>
					<div class="mainNewsUnit">
						<a href="#" class="mainNewsUnitLink">
							<b>Здесь друг твоего друга – твой друг...</b>
							<span>
								<img src="img/pics/3.jpg">
								Дорога до Арцаха была насыщена потрясающими видами гор, равнин, живописных населенных пунктов. Несколько раз открывала окно, чтобы подышать воздухом, наполненным ароматом цветущих абрикосовых деревьев. Очень много останавливались и фотографировали. Поразили целые колонии аистов, которые строят свои гнезда прямо на электрических 
							</span>
						</a>
						<div class="mainNewsUnitFoot">
							<span>Категория: <a href="#">Статьи</a></span>
							<span>Дата: <a>12:00, 27.04.2016</a></span>
						</div>
					</div>
					<div class="mainNewsUnit">
						<a href="#" class="mainNewsUnitLink">
							<b>Лучший способ победить - делать великие дела</b>
							<span>
								<img src="img/pics/4.jpg">
								Мероприятия, посвященные 101-й годовщине Геноцида армян в Османской империи, завершились аккордом воистину грандиозным! Новая международная награда Aurora Prize For Awakening Humanity, которая отныне будет присуждаться людям, рискующим своей жизнью ради спасения жизней чужих, нашла своего первого героя - Маргарит Баранкитс. "Аврора" явилась миру армянской звездой, призванной сиять светом гуманизма...
							</span>
						</a>
						<div class="mainNewsUnitFoot">
							<span>Категория: <a href="#">Обзор прессы</a></span>
							<span>Дата: <a>12:00, 27.04.2016</a></span>
						</div>
					</div>
					<div class="mainNewsUnit">
						<a href="#" class="mainNewsUnitLink">
							<b>«Отец» мирного соглашения по Нагорному Карабаху рассказал, когда перестанут стрелять</b>
							<span>
								<img src="img/pics/5.jpg">
								Известный российский дипломат Владимир Казимиров, в интервью "Московскому Комсомольцу" рассказал об интересных подробностях начала армяно-азербайджанских переговоров в 1992-1994гг., о том, как было достигнуто соглашение о перемирии в 1994 году и что последовало тем событиям в середине 90-х. Хотя редакция Voskanapat.info не согласна с 
							</span>
						</a>
						<div class="mainNewsUnitFoot">
							<span>Категория: <a href="#">Интервью</a></span>
							<span>Дата: <a>12:00, 27.04.2016</a></span>
						</div>
					</div>
					<div class="mainNewsUnit">
						<a href="#" class="mainNewsUnitLink">
							<b>Давид Ишханян. «Необходимо демонтировать Мадридские принципы»</b>
							<span>
								<img src="img/pics/6.jpg">
								Мадридские принципы не соответствуют нашим национальным и государственным интересам. Эти принципы необходимо демонтировать и разработать новые подходы. Апрельская война не только дает нам такую возможность, но и заставляет, диктует предпринять определенные шаги в этом направлении – говорит депутат НС НКР, руководитель фракции «Дашнакцутюн» Давид Ишханян. В результате четырехднев...
							</span>
						</a>
						<div class="mainNewsUnitFoot">
							<span>Категория: <a href="#">Интервью</a></span>
							<span>Дата: <a>12:00, 27.04.2016</a></span>
						</div>
					</div>
					<div class="mainNewsUnit">
						<a href="#" class="mainNewsUnitLink">
							<b>О целях и методах азербайджанской агрессии и дальнейших действиях армянских государств</b>
							<span>
								<img src="img/pics/7.jpg">
								Четырехдневная война между Азербайджаном и Республикой Арцах еще долго будет оставаться предметом исследований специалистов: политологов, конфликтологов, журналистов, военных аналитиков. После смены режима в Азербайджане, или же полного демонтажа этой фашистской политической конструкции, наверняка вскроется множество неизвестных пока 
							</span>
						</a>
						<div class="mainNewsUnitFoot">
							<span>Категория: <a href="#">Страница Пандухта</a></span>
							<span>Дата: <a>12:00, 27.04.2016</a></span>
						</div>
					</div>
				</div>
				<div class="titler">
					<a href="#">
						ВИДЕО
					</a>
				</div>
				<div class="videoOnMain clearfix">
					<a href="#">
						<img src="img/pics/1.jpg">
						<span>Лукашевич: РФ считает возможным продолжение военных контактов Баку и Еревана</span>
						<div class="playBut"></div>
					</a>
					<a href="#">
						<img src="img/pics/2.jpg">
						<span>Глава Минобороны Арцаха: если война продолжится, мы продвинемся вперед</span>
						<div class="playBut"></div>
					</a>
					<a href="#">
						<img src="img/pics/3.jpg">
						<span>На арцахо-азербайджанской границе ситуация остается напряженной</span>
						<div class="playBut"></div>
					</a>
					<a href="#">
						<img src="img/pics/4.jpg">
						<span>С. Асратян: утверждения о том, что армянская сторона использует запрещенные боеприпасы являются очередным бредом Азербайджана</span>
						<div class="playBut"></div>
					</a>
					<a href="#">
						<img src="img/pics/5.jpg">
						<span>Возглавляемая Сейраном Оганяном делегация отбыла в Москву</span>
						<div class="playBut"></div>
					</a>
				</div>
			</div>
		{% endblock %}	
			<div class="mainCenter">
				<div class="titler">
					<a href="#">
						ЛЕНТА НОВОСТЕЙ
					</a>
				</div>
				<div class="timeline">
					<span>27.04.16</span>
					{% for item in news_line %}
						<a href="/article/{{item.id}}"><time>{{item.pub_date|date:"H:i"}}</time>﻿{{item.title}}</a>	
					{% endfor %}
				</div>
				<div class="titler">
					<a href="#">
						Выбор редактора
					</a>
				</div>
				<div class="timeline timelineEditor">
					<a href="#"><time>12:46</time>Лукашевич: РФ считает возможным продолжение военных контактов Баку и Еревана</a>
					<a href="#"><time>12:00</time>Давид Ишханян. «Необходимо демонтировать Мадридские принципы»</a>
					<a href="#"><time>11:54</time>Азербайджанец через Турцию финансировал брата-боевика</a>
					<a href="#"><time>11:39</time>Министры обороны Армении и Ирана обсудили обострение ситуации на арцахской границе</a>
					<a href="#"><time>11:13</time>Азербайджанские оппозиционные СМИ сообщили о карательных действиях армянской стороны</a>
					<a href="#"><time>10:56</time>Арцрун Ованнисян опубликовал запись радиоперехвата разговора напуганных азербайджанцев</a>
					<a href="#"><time>10:42</time>Азербайджан целится по мирным населенным пунктам: Арцрун Ованнисян</a>
					<a href="#"><time>09:40</time>Минобороны Арцаха предупредило азербайджанскую сторону</a>
					<a href="#"><time>18:12</time>Правящая партия Азербайджана призывает и так бедствующее население перечислить 20% заработка на нужды армии: СМИ</a>
					<a href="#"><time>17:45</time>Европейский институт омбудсмена осудил учиненные азербайджанскими военнослужащими зверства в Арцахе</a>
					<a href="#"><time>16:19</time>Минобороны Арцаха опубликовало фотографии последствий вражеского артобстрела</a>
					<a href="#"><time>14:43</time>Кто разжег войну в Сирии: откровения бывшего министра иностранных дел Катара</a>
					<a href="#"><time>14:20</time>В Азербайджан прибыли высокопоставленные пакистанские военные</a>
				</div>
				<div class="titler">
					<a href="#">
						Популярные
					</a>
				</div>
				<div class="timeline timelinePopular">
					<a href="#"><img src="img/pics/a1.jpg">Лукашевич: РФ считает возможным продолжение военных контактов Баку и Еревана</a>
					<a href="#"><img src="img/pics/a2.jpg">Давид Ишханян. «Необходимо демонтировать Мадридские принципы»</a>
					<a href="#"><img src="img/pics/a3.jpg">Азербайджанец через Турцию финансировал брата-боевика</a>
					<a href="#"><img src="img/pics/a4.jpg">Министры обороны Армении и Ирана обсудили обострение ситуации на арцахской границе</a>
					<a href="#"><img src="img/pics/a5.jpg">Азербайджанские оппозиционные СМИ сообщили о карательных действиях армянской стороны</a>
				</div>
			</div>
			<div class="mainRight">
				<div class="titler">
					<a href="#">
						Цитата дня
					</a>
				</div>
				<div class="dayTitle">
					<img src="{% static 'img/c1.png' %}" class="c1">
					Восканапат помог мне приобрести столь внушительное количество друзей от Казахстана до Калифорнии; я бесконечно счастлив, что вокруг Восканапата собрались люди, обладающие высокой степенью морали и разделяющие мои политические убеждения.
					<img src="{% static 'img/c2.png' %}" class="c2">
					<span>Левон МЕЛИК-ШАХНАЗАРЯН</span>
				</div>
				<div class="titler">
					<a href="#">
						Проекты
					</a>
				</div>
				<div class="projectList">
					<a href="#">
						<img src="{% static 'img/banners/1.png' %}">
					</a>
					<a href="#">
						<img src="{% static 'img/banners/2.png' %}">
					</a>
					<a href="#">
						<img src="{% static 'img/banners/3.png' %}">
					</a>
					<a href="#">
						<img src="{% static 'img/banners/4.png' %}">
					</a>
					<a href="#">
						<img src="{% static 'img/banners/5.png' %}">
					</a>
				</div>
			</div>
		</div>
		<footer class="clearfix">
			<div class="footerLinks">
				<a href="#">Статьи</a>
				<a href="#">Аналитика</a>
				<a href="#">Комментарии</a>
				<a href="#">Интервью</a>
				<a href="#">Страница Пандухта</a>
				<a href="#">Обзор прессы</a>
				<a href="#">Актуальное ретро</a>
				<a href="#">Трибуна Сагатела</a>
				<a href="#">Видео</a>
			</div>
			<div class="footerLinks">
				<a href="#">ОБРАТНАЯ СВЯЗЬ</a>
				<a href="#">ПАРТНЕРЫ</a>
				<a href="#">О НАС</a>
			</div>
			<small>
				2010 - 2016 © Все права защищены. При использовании материалов Voskanapat.info ссылка обязательна. Мнение автора публикации может не совпадать с позицией редакции. Ответственность за содержание рекламы несут рекламодатели.
			</small>
		</footer>
		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
